<div class="editor-box">
<div class="row top">
  <div class="col-md-3 title">修改简历</div>
  <div class="col-md-9 action"><a ng-href="#/resume">返回首页</a></div>

</div>

<div class="content passbox" ng-show="show==0">
  <center>
  <p>请输入管理密码后继续</p>
  <div class="input-group passinput">
    <input type="password" class="form-control" name="apass" ng-model="apass">
    <span class="input-group-btn">
      <button class="btn btn-default " type="button" ng-click="admin_password(apass)">确定</button>
    </span>
  </div><!-- /input-group -->
</center>
</div>

<form role="form" ng-show="show==1">

<div class="settings form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="title" name="title" placeholder="简历标题" ng-model="resume.title">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder="简历小标题" ng-model="resume.subtitle">
  </div>
  <button type="submit" class="btn btn-default" ng-click="save(resume)">保存</button>
</div>



<div class="row earea">
   <div class="col-md-6">
      <textarea class="editor" ng-model="resume.content" id="edit_area" >
      </textarea>
   </div>
   <div class="col-md-6">
      <div class="preview yue" id="editor-preview" ng-bind-html="resume.content | wizMarkdownFltr"></div>
   </div>
  </div>
</form>
</div>
<script type="text/javascript">
$(document).ready(function()
  {
    var h = $(window).height() - 135 + 'px';
    $('#edit_area').css('height', h );
    $('#editor-preview').css('height', h );
    console.log(h);
  });
</script>
